<div class="jumbotron">
    <!-- Cannot use because of licensing: http://orig13.deviantart.net/67d6/f/2013/269/7/9/squirrel_face_by_runicrhyme-d6o210j.png -->
    <h1><img width="72"
             src="https://upload.wikimedia.org/wikipedia/commons/3/3b/WikiVoc-acorn-1.svg">SquirrelBin
    </h1>
    <p>
        a&middot;corn [ey-kawrn, ey-kern] (n.):
    <ol>
        <li>The fruit of the oak, a smooth oval nut in a rough cuplike base.</li>
        <li>A tiny little runnable nugget of code.</li>
    </ol>
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="#/new" role="button">Create an acorn!</a>
        <a class="btn btn-default btn-lg" href="#/acorns" role="button">View all acorns!</a>
    </p>
</div>
